body {
	background: #3e2f48;
	color: #ffffff;
}
.Poster-image{
	width: 300px;
	height: 400px;

}
.App{
	background-image: url("../public/efe-kurnaz-RnCPiXixooY-unsplash.jpg");
	background-position: center;
	background-size: cover;

}

.my-input{
	width: 50%;

}
.search{
	width: 50%;
	margin: 0 auto;
}