
.Poster-image{
	width: 300px;
	height: 400px;

}
.fav{
	font-size: 20px;
	font-weight: 800;
	font-style: normal;
	color: orangered;
	font-family: 'Times New Roman', Times, serif;
}
.App{
	background-image: url("../public/efe-kurnaz-RnCPiXixooY-unsplash.jpg");
	background-position: center;
	background-size: cover;

}

.my-input{
	width: 50%;

}
.search{
	width: 50%;
	margin: 0 auto;
}